<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <title>@ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class="d-flex flex-column" style="min-height: 100%;">
<header class="">
    <nav class="navbar navbar-expand-lg bg-light d-flex align-items-baseline p-3">
        <span class="bg-light">
            <h2 class="navbar-brand d-inline-block">Lexicon MVCBasics - Michael Sjögren</h2>
        </span>
        <ul class="navbar list-unstyled d-flex flex-grow-1 justify-content-sm-evenly container">
            <li class="nav-item nav-tabs">
                <a class="nav-link" asp-action="Index" asp-controller="Ajax">Ajax</a>
            </li>
            <li class="nav-item nav-tabs">
                <a class="nav-link" href="/People">People</a>
            </li>
            <li class="nav-item nav-tabs">
                <a class="nav-link" href="/About">About</a>
            </li>
            <li class="nav-item nav-tabs">
                <a class="nav-link" href="/Projects">Projects</a>
            </li>
            <li class="nav-item nav-tabs">
                <a class="nav-link" href="/Contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <div class="container">
        @RenderBody()
    </div>
</main>
<footer class="d-flex p-4 bg-gradient bg-light justify-content-center mt-auto">
    <div>
        <span> &copy; <b> Michael Sjögren</b></span> <span> @DateTime.Now.ToString("MMM dd, yyyy")</span>
    </div>
</footer>
    <script src="~/lib/jquery-3.6.0.js"></script>
    <script src="~/js/PeopleAjax.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>