@model MVCBasics.ViewModels.CreateCountryViewModel

<form asp-controller="Country" asp-action="Create"  method="post" class="form p-5 border border-secondary" style="max-width: 28rem; margin-left: auto;">
    <h4 class="form-text">Add a new Country.</h4>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name"/>
        <span class="alert-danger" asp-validation-for="Name"></span>
    </div>
    <button class="form-control btn btn-primary" type="submit"> Add </button>
</form>