@{
    ViewData["Title"] = "About";
}
<section>
    <header>
        <h1>@ViewData["Title"]</h1>
        <p>Hey im Michael Sjögren, here are some random nuggets of information about me.</p>
    </header>
    <article class="text-body">
        <p>
            I am currently studying at Lexicon with focus on .NET and C#. I have interest in game development and i sometimes join game jams.
            I have a affinity for the Godot Engine since it is open source and Free with no royalites and works great on Linux.
        </p>
        <p>With that said i do also think that Unreal and Unity are great tools as well and i have used them several times.</p>
        <p>
            <a href="https://gruset.itch.io/">My Itch.io page</a>
        </p>
        <p>
            <a href="https://michael-sjogren.github.io/">My portfolio site</a>
        </p>
    </article>
</section>