@{
    ViewData["Title"] = "Contact";
}

<section>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <article>
        <p> Some fake contact information</p>
        <div class="d-flex flex-column gap-1 flex-wrap">
            <div class="d-flex" style="width: 20rem">
                <p class="fw-bold flex-grow-1">Phone</p>
                <p class="">089-378 2741</p>
            </div>
            <div class="d-flex" style="width: 20rem">
                <p class="fw-bold flex-grow-1">Address</p>
                <p class="">Sjövägen 23, Kattegatt</p>
            </div>
            <div class="d-flex" style="width: 20rem">
                <p class="fw-bold flex-grow-1">Email</p>
                <p class="">someemail@fakeemail.com</p>
            </div>
        </div>
    </article>
</section>